/* SUMMARY
1. GLOBAL
2. LAYOUT
3. SECTION
4. CARD
*/


  /*** 2. LAYOUT ***/

  
/* Globals & Resets */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
scroll-behavior: smooth;
font-size: 62.5%;
}


h1, h2, h3, h4, h5, h6 {
  font-family:'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  color: #111111;
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color:#6B7280;
}

li{
  list-style: none;
}


@media (max-width: 480px){
  html{
    font-size: 57%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html{
    font-size: 60%;
  }
}
  
/* Sizes  */

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row: 1 / 8;
  grid-column: 1 / 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.product-thumb-image{
  grid-row: 1 / 9;
  margin-top:1rem;
}
.product-thumb-image li{
  margin:1rem;
}

#product-footer{
  display: flex;
  flex-direction: column;
} 

#product-footer li, #product-footer ul{
    list-style: none;
    padding: 1rem;
    margin-right: 2rem;
    flex-direction: row;
}

.product-category, .product-title, .product-subtitle, .product-price-main, .product-price-line, 
.card-menu , .product-description, .product-card-details {
  grid-column: 2 / 2;
  margin-left: 2rem;
  text-align: start;
  position: relative;
}


.product-category {
  grid-row: 1 / 2;
}

.product-title {
  grid-row: 2 / 3;
}
.product-subtitle {
  grid-row: 3/ 4;
}

.product-price-line{
  grid-row: 4 / 5;
}

.product-price {
  grid-row: 5/ 6; 
}

.card-menu {
  grid-row: 6/ 7;

}

.product-description {
  grid-row: 7 / 8;

}
.product-card-details , .product-card-footer{
  grid-row: 8 / 9;
  align-self: end;
  display: flex;
  flex-direction: column;
}

/* Typography & Layout*/
.product-card {
  background-color:#FFFFFF;
  max-width: 90%;
  padding: 2rem;
  border: none;
  display: grid;
  grid-template: auto / auto auto ;
}

.product-category , .product-price-line{
  font-family: 'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #CB253C;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.product-title , .product-price-main {
  font-family: 'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  font-size: 4rem;
}
.product-subtitle, .product-price-line ,.product-description{
  font-family: 'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  font-size: 2.5rem;
  letter-spacing: none;

}
.product-price-line{
  margin-top: 2rem;
  font-size: 1.5rem;

}
.product-price-main{
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-description{
  font-size: 1.5rem;
  letter-spacing: .04rem;
}

.product-card-details, .product-card-footer{
  margin-top:1rem;
}

.product-card-details ul, .product-card-footer ul {
  display:flex;
  text-decoration: none;
}

.product-card-details li, .product-card-footer li{ 
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
}



.product-title,.product-main-title{
  font-family: 'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: .04rem;
  color: #111111;
  text-align: start;
}


.product-text{
  color:#6B7280;
  font-size: 1.5rem;
  letter-spacing:.04rem;
  margin:1rem 2rem;
}
/* Unique properties of details */

/* choice */
#product-choice, #product-footer{
  margin:2rem 0;
}
.ul-choice, .ul-product-footer{
  flex-direction: row;
}

.li-choice, .li-product-footer{
  width: 44%;
}

.product-choice-text, .product-footer-text{
  padding: 2rem;
}


.li-choice,.li-features-product,.li-warranty-product, .slideproduct-list{
  border: 1px solid #6B7280;
  border-radius: 5px;

  
}
.li-choice:hover,.li-features-product:hover,.li-warranty-product:hover,.slideproduct-list:hover{
  border: 1px solid #1E96D4;
}
.li-choice:focus,.li-features-product:focus,.li-warranty-product:focus,.slideproduct-list:focus{
  opacity: 0.9;
  background-color: #66BEEB;
}

/*warranty & features */


.ul-warranty-product, .ul-features-product , .ul-Specifications-product{
  flex-direction: column;
  box-sizing: content-box;
}

.li-warranty-product , .li-features-product , .li-Specifications-product{
  margin-bottom: 1rem;

}

.product-price , .product-Specifications{
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
}
.features-product{
  margin: 9rem 0;
}


.li-Specifications-product{
  font-weight: 700;
  font-size: 1.5rem;
  border-top: 1px solid #EEEFF2;
  border-radius: none;
}

.li-Specifications-product-last{
  border-bottom: 1px solid #EEEFF2;
}


.product-Specifications{
  font-size: 1.5rem;
}



 /* Navbar
      ============================= */
  
      .nav {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: flex;
      }
      
      .nav .nav-item {
        font-family: 'Circular-Std-Book','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: .04rem;
      }
      
      .nav .nav-item + .nav-item {
        margin: 0 0 0 2rem;
      }
      
      .nav .nav-link {
        display: block;
        padding: 0.5rem 0;
        position: relative;
        color: #6B7280;
        
      }
      
      .nav .nav-link:hover {
        color: #111111;
        text-decoration: none;
      }
      
      .nav .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.2rem;
        transition: .3s cubic-bezier(0.17, 0.67, 0, 1.01);
      }
      
      .nav .nav-item:hover .nav-link::before {
        background-color: #111111;
        width: 100%;
      }
      
      @media (max-width: 767px) {
    
        .nav {
          flex-direction: row;
          max-height: 0;
        }
      }
    

 /** BUTTON **/
 .button {
  
  display: inline-block;
  padding: 1.5rem 3rem;
   /* padding: 0.6em 2em; */
  border: #1E96D4 solid 0.2rem;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #1E96D4;
}

.button:hover, .button:focus {
  color: #EEEFF2;
  text-decoration: none;
  background-color: #66BEEB;
  transition-duration: .3s;
  transition-property: color, background-color; 
}


/* Gallery */


.logo{
  position:absolute;
  margin:0 auto;
width: 30%;
  padding-top: 80px;
  z-index: 1;
  left:37%;
}


.container-slider {
  display: flex;
  height: 200px;

  
}

.slideproduct::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.slideproduct::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}

.slideproduct::-webkit-scrollbar-thumb:active {
  background-color: seashell;
}

.slideproduct::-webkit-scrollbar-thumb:hover {
  background: seashell;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.slideproduct::-webkit-scrollbar-track {
  background: seashell;
  border-radius: 4px;
}

.slideproduct::-webkit-scrollbar-track:hover, 
.slideproduct::-webkit-scrollbar-track:active {
  background: seashell;
}

.container-slider {
  display: flex;
  background-image: url(https://images.crutchfieldonline.com/products/2020/11/143/g143MTNTW2B-F.jpg); 
  background-repeat:no-repeat;
  background-size: 30%; 
  background-position: center;
}

.slideproduct {
  display: flex;
  flex-direction: row;
  flex: 1 1 20%;
  overflow-y: auto;
  height: 100%;
}

.slideproduct-link {
  display: block;
}

.img-slideproduct {
  height:141px;
  object-fit: cover;
  object-position: top;
}

.slider {
width: 95%;
  overflow: hidden;
  margin: 0 auto;
  flex: 1 1 80%;
}

.slider-list {
  position: relative;
  width: 33%;
  z-index: 1; 
  height: 319px;
  margin-left: 14rem
}

.img-slider {
  width: 134%;
  z-index: -1;  
  
}

.slider .slider-list:target {
z-index: 3;
animation: slider 0s 1;

}

.slider .slider-list:not(:target) {
animation: hidden 100ms 1;
opacity: 0;
}

@keyframes slider {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(0%);
}
}

@keyframes hidden {
0% {
  z-index: 3;
  transform: translateX(0%);
}
100% {
  z-index: 1;
  transform: translateX(-100%);
}
}


@media screen and (max-width: 740px) {
  .product-card {
    max-width: 90%;
    grid-template: auto auto / auto;
    position: relative;
    margin-left:0;
  }
  .product-card::after {
    content: '';
    display: block;
    height: 50px; 
  }
  
 .product-image, .product-thumb-image, .product-category, .product-title, .product-subtitle , 
 .product-price-line, .product-price-main, .product-description, .card-menu, .product-card-details, .product-card-footer {
  grid-column: 1 / -1;
  position: relative;
  }
  
  .product-image {
    margin:1rem;
    grid-row: 2 / 3;
   
  }

  .product-thumb-image {
    grid-row: 3/ 4;
    margin-top: 1rem;
  }
  .product-category {
    grid-row: 4 / 5;
   
  }
  
  .product-title {
    grid-row: 5 / 6;
  }
  
  .product-subtitle {
    grid-row: 6/ 7;
  }
  .product-price-line{
    grid-row: 7/ 8;
  }

  .product-price-main {
    grid-row: 8 / 9;
  }

  .card-menu {
    grid-row: 9/10;
    margin: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .product-description {
    grid-row: 10/ 11;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .product-choice {
    grid-row: 11/13;
    display: flex;
    flex-direction: column;
  }
.product-card-details{
  grid-row: 13/18;
  display: flex;
  flex-direction: column;
}  

.product-card-footer{
  grid-row: 18/18;
  display: flex;
  flex-direction: column;
}

  .product-thumb-image ul {
    justify-content: center;
  }
  
  
  .product-choice ul, .product-footer ul {
    justify-content: center;
  }
  .ul-warranty-product, .ul-features-product , .ul-Specifications-product{
    box-sizing: content-box;
    width: 100%;
  }

  .product-card-footer{
    align-content: end;
    margin: 0px;
  }
  
}

@media screen and (max-width: 520px) {
  .product-card {
    position: relative;
    grid-template: auto/ auto;
    margin-left:0;
  }
  .product-card::after {
    content: '';
    display: block;
  }

 .product-image, .product-thumb-image, .product-category, .product-title, .product-subtitle , 
 .product-price-line, .product-price-main, .product-description, .card-menu, .product-card-details {
  position: relative;
  }
  
  .product-title, .product-text{
    margin-left: 0;
    padding-left: 0;
    text-align: start;
    justify-content: left;
    
  }
   
  .product-thumb-image ul {
    justify-content: center;
    justify-content: space-between;
  }
  .product-card-details div li{
    flex-direction: row;
  }

  .ul-warranty-product, .ul-features-product , .ul-Specifications-product{
    box-sizing: content-box;
    width: 100%;
  }
  
.product-title, .product-text, .product-price , .product-Specifications{
  margin-left: 0;
  padding-left: 0;
  text-align: start;
}

.product-card-footer{
  align-content: end;
  margin: 0px;
}
.product-card-footer p{ 
  display:none; }
}
