<!-- PRODUCT -->


<div class="product-card">
    <p class="product-category">New release</p>
    <h2 class="product-title">MOMENTUM True Wireless 2</h2>
    <p class="product-subtitle">Earbuds that put sound first</p>
    <p class="product-price-line">Starting at</p>
    <p class="product-price">$295.95</p>
    <div class="card-buttons">
      <nav class="navbar-menu">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Overview</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">What's in the box?</a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="product-description">For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
   
    
    <div class="product-image">
    <div class="container-slider">
      <ul class="slider">
        <li class="slider-list" id="slide1">
          <img class="img-slider" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-1.jpg" alt="">
        </li>
        <li class="slider-list" id="slide2">
        <img class="img-slider" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-4.jpg" alt="">
        </li>
        <li class="slider-list" id="slide3">
          <img class="img-slider" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-3.jpg" alt="">
        </li>
      </ul>
     
    </div> 
    <div>
    <div class="product-sizes">
      <ul class="slideproduct">
        <li class="slideproduct-list"  style="margin-left:0rem">
          <a class="slideproduct-link" href="#slide1">
            <img class="img-slideproduct" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-1.jpg" alt="">
          </a>
        </li>
        <li class="slideproduct-list">
          <a class="slideproduct-link" href="#slide2">
            <img class="img-slideproduct" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-4.jpg" alt="">
          </a>
        </li>
        <li class="slideproduct-list">
          <a class="slideproduct-link" class="slideproduct-list" href="#slide3">
            <img class="img-slideproduct" src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-3.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
    </div>
  </div>


